# Python
pycache/
*.pyc
*.pyo
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Data files (tracked by DVC later)
data/*.csv
data/*.parquet

# DVC
.dvc/
.dvc/cache/
local_storage/
*.dvc.lock

# IDE
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/
